* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Josefin Sans', sans-serif;
}
ul {
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container {
	max-width: 1560px;
	margin: 0 auto;
}
.header .container {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	max-width: 1560px;
	margin: 0 auto 47px;
}
.header .container>ul,
.header .container>nav {
	align-self: center;
}
.header {
	transition: 0.3s;
}
.fix {
   border-bottom: 1px solid #CAB165;
   position:fixed;
   z-index: 1000;
   background-color: #fff;
   top:0;
   width: 100%;
}
.fix .container {
    margin: 0 auto;
}
.nav {
	display: flex;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
.nav>li {
	margin-right: 37px;
	align-self: center;
}
.nav>li.nav__item {
	position: relative;
}
.nav>li.nav__item::after {
	content: "";
	display: block;
	position: absolute;
	right: -13px;
	top: calc(50% - 2px);
	border: 4px solid transparent;
	border-top: 4px solid black;
}
.nav>li.nav__item:hover::after {
	border-top: 4px solid #b59f5b;
}
.submenu {
	position: absolute;
	width: 100%;
	padding: 12px 0px;
	top: 18px;
	background-color: #fff;
	display: none;
	text-transform: uppercase;
}
.submenu>li {
	margin-bottom: 5px;
}
.submenu>li>a {
	color: #000;
}
.submenu>li>a:hover {
	color: #b59f5b;
}
.nav>li.nav__item:hover .submenu {
	display: block;
}

.nav>li>a {
	text-transform: uppercase;
	color:#0f0d0e;
}
.nav>li>a:hover {
	color:#b59f5b;
}
.social{
	display: flex;
	justify-content: flex-end;
}
.social>li {
	align-self: center;
	margin-left: 16px;
}
.social-link {
	display: block;
	height: 15px;
	width: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 10px;
}
.social-twitter {
	background-image: url(../img/twitter.svg);
}
.social-facebook {
	background-image: url(../img/facebook.svg);
	height: 17px;
	width: 17px;
}
.social-telegram {
	background-image: url(../img/telegram.svg);
}
.social-instagram {
	background-image: url(../img/instagram_b.svg);
}
.social-google {
	background-image: url(../img/google.svg);
	height: 19px;
	width: 18px;
}

.logo {
	width: 281px;
	display: block;
	margin: 0 auto 32px auto;
}
.line {
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
	opacity: 0.4;
	margin: 0px auto 56px;
}



.post-top {
	display: flex;
	justify-content: space-between;
}
.post-top-col {
	text-align: center;
	background-size: cover;
	position: relative;
	margin:10px;
	height: 360px;
	width: 33%;
}
.post-top-col__one {
	background-image: url(../img/nature-1.jpg);
}
.post-top-col__two {
	background-image: url(../img/nature-2.jpg);
}
.post-top-col__three {
	background-image: url(../img/nature-3.jpg);
}
.post-top-col::before {
	content: '';
	position: absolute;
	background-color: rgba(50,50,50,0.4);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.post-top-col>div {
	border: 3px solid #b59f5b;
	margin: 0 25px;
	padding: 15px 13px 7px 14px;
	position: absolute;
	bottom: 55px;
}
.post-top-col__tag {
	text-transform: uppercase;
	text-decoration: none;
	color: #CAB165;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
}
.post-top-col__title {
	font-family: 'Josefin Sans', cursive;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 12px;
	margin-top: 9px;
}
.post-top-col__title a {
	color: #fff;
}
.post-top-col__info {
	opacity: 0.54;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;	
	display: flex;
	justify-content: space-between;
}
.post-top-col__info a,
.post-top-col__info p {
	color: #fff;
}
.post-top-col__comment {
	position: relative;
	padding-left: 22px;
}
.post-top-col__comment::before {
	content: '';
	height: 14px;
	width: 14px;
	background-size: cover;
	display: block;
	left: 0;
	top: 1px;
	position: absolute;
	background-image: url(../img/comment_gold.svg);
}




.main-block {
	display: flex;
	justify-content: space-between;
	width: 1144px;
	margin: 132px auto 0;
}
.post {
	width: 764px;
	padding-top: 38px;
}
.block-post {
	position: relative;
	margin-bottom: 49px;
}
.block-post-left {
	position: absolute;
	top: 29px;
}
.block-post-right {
	margin-left: 330px;
}
.block-post-left__thumb {
	position: relative;
	overflow: hidden;
	width: 381px;
	height: 294px;
}


.block-post-left__thumb img {
	transform: translate(-50%,-50%);
	object-fit: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 381px;
	height: 294px;
	z-index: -1;
}
.block-post-right__info {
	border: 3px solid #b59f5b;
	padding: 22px 38px 18px 86px;
}
.block-post-right__tag {
	color: #b59f5b;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	display: block;
}
.block-post-right__title {
	color: #0f0d0e;
	font-family: 'Josefin Sans', cursive;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	line-height: 24px;
	margin-top: 9px;
	letter-spacing: -1px;
}
.block-post-right__title a {
	color: #0f0d0e;
}
.block-post-right__date {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	display: flex;
	justify-content: flex-start;
	margin-top: 26px;
}
.block-post-right__date p {
	opacity: 0.54;
	color: #000000;
	font-weight: 300;
	display: block;
	margin-right: 16px;
}
.block-post-right__date a {	
	color: #000000;
	font-weight: 700;	
}
.block-post-right__description {
	padding: 25px 15px 17px 90px;
	line-height: 22px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
.block-post-right__description p {
	margin-bottom: 15px;
}
.block-post-right__flex {
	padding: 23px 1px 8px 14px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 3px solid #eeeeee;
}
.block-post-right__comment {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	position: relative;
	padding-left: 20px;
	
}
.block-post-right__comment::before {
	content: '';
	height: 14px;
	width: 14px;
	background-size: cover;
	display: block;
	left: -6px;
	top: 1px;
	position: absolute;
	background-image: url(../img/comment.svg);
}
.social-post>li {
	color: rgba(0,0,0,0.54);
	margin-left: 20px;
}
.social-post .social-link {
	width: 13px;
	height: 13px;
}




.sidebar{
	text-align: center;
	width: calc(100% - 874px);
}
.sidebar .line {
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
	opacity: 0.4;
	margin: 2px auto;
	padding-left: 0px;
}
.sidebar-block__h3 {
	color: #0f0d0e;
	font-family: 'Josefin Sans', cursive;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.5px;
	line-height: 30px;
	text-transform: uppercase;
}
.sidebar-block-about h3 {
	color: #0f0d0e;
	font-family: 'Josefin Sans', cursive;
	font-size: 14px;
	font-weight: 700;
	line-height: 29.15px;
	text-transform: uppercase;
	margin-top: -16px;
	margin-left: -2px;
	letter-spacing: -1px;
}
.social-sidebar {
	justify-content: space-between;
	padding: 0px 24px;
	margin-top: 20px;
}
.social-sidebar>li,
.social-sidebar>li>a {
	margin: 0;
}
.social-sidebar .social-link {
	height: 12px;
	width: 12px;
}
.social-sidebar .social-google {
	height: 16px;
	width: 18px;
}

.sidebar-block-list{
	text-align: left;
	list-style-type: none;
	margin-top: 23px;
}
.sidebar-block-list>li {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 12px;
	margin-bottom: 15px;
}
.sidebar-block-list>li>a:hover {
	color: #b59f5b;
}

.sidebar-block-list>li>a {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;	
}
.sidebar-block-list>li>span {
	color: #b59f5b;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 400;
	margin-left: 7px;
	display:inline-block;
	vertical-align: top;
}
.sidebar-block-tags-list {
	margin-top: 23px;
	text-align: left;
}
.sidebar-block-tags-list>li {
	display: inline-block;
	margin-bottom: 6px;
}
.sidebar-block-tags-list>li>a {
	color: #0f0d0e;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	border: 3px solid #eeeeee;
	padding: 4px 13px;
	display: block;
}
.sidebar-block-tags-list>li>a:hover {
	border: 3px solid #b49f60;
}
.sidebar-block-about {
	position: relative;
	border: 3px solid #b59f5b;
	padding: 117px 20px 31px 28px;
	margin-top: 100px;
}
.sidebar-block-about__avatar {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	top: -103px;
}
.sidebar-block-about p {
	color: #0f0d0e;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-style: italic;
	line-height: 24px;
	margin-top: 3px;
	margin-bottom: 16px;
}
.sidebar-block-about__thumb {
	position: relative;
	width: 194px;
	height: 194px;
	overflow: hidden;
	border-radius: 100%;
	margin: 0 auto;
}
.sidebar-block-about__thumb img {
	transform: translate(-50%,-50%);
	object-fit: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 194px;
	height: 194px;
	z-index: -1;
}
.sidebar-block-about__follow{
	color: #b59f5b;
	font-family: "Mrs Sheppards", cursive;
	font-size: 24px;
	font-weight: 400;
}
.sidebar>div {
	margin-bottom: 29px;
}
.sidebar-block-form input,
.sidebar-block-form button {
	display: block;
}
.sidebar-block-form input {
	width: calc(100% - 32px);
	border: 1px solid #f4f7f6;
	background-color: #f4f7f6;
	font-family: "Open Sans";
	font-size: 13px;
	padding: 15px;
	margin: 20px 0;
	transition: 0.3s;
	
}
.sidebar-block-form input:focus {
	outline: none;
	border: 1px solid #b59f5b;
}
.sidebar-block-form button {
	background-color: #b59f5b;
	color: #fff;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 0;
	width: 100%;
	border: none;
	text-transform: uppercase;
}
.sidebar-block-banner .line {
	margin-bottom: 20px;
}

.banner{
	width: 100%;
	max-width: 270px;
}
.search {
	position: relative;
}
.search-input {
	width: 100%;
	border: 1px solid #f4f7f6;
	background-color: #f4f7f6;
	font-family: "Open Sans";
	font-size: 13px;
	padding: 15px;
	margin-bottom: 15px;
	transition: 0.3s;
}
.search-input:focus {
	outline: none;
	border: 1px solid #b59f5b;
}
.search-btn {
	background-color: #b59f5b;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	border: none;
	background-image: url(../img/search.svg);
	background-size: 18px 18px;
	background-position: center center;
	background-repeat: no-repeat;
}









footer {
	text-align: center;
}
.footer-instagram__title{
	color: #0f0d0e;
	font-family: 'Josefin Sans', cursive;
	font-size: 17px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: -9px;
	text-transform: uppercase;
}
.footer-instagram__link {
	color: #b59f5b;
	font-family: "Mrs Sheppards";
	font-size: 24px;
	font-weight: 400;
	position: relative;
	padding-left: 16px;
}
.footer-instagram__link::before {
	content: '';
	height: 15px;
	width: 15px;
	background-size: cover;
	display: block;
	left: -8px;
	top: 12px;
	position: absolute;
	background-image: url(../img/instagram_g.svg);
}
.footer-instagram {
    margin-bottom: 41px;
}

.footer-galary {
	margin-bottom: 20px;
}
.footer-social {
	background-color: #f4f7f6;
	padding: 30px;
	margin-bottom: 14px;
}
.social-footer {
	justify-content: space-between;
	margin: 0 auto;
	max-width: 300px;
}
.social-footer>li {
	margin-left: 0;
}
.social-footer .social-link {
	height: 17px;
	width: 17px;
}
.social-footer .social-google {
	height: 24px;
	width: 24px;
}

.footer-galary {
	display:flex;
	justify-content: space-between;
}
.footer-galary__thumb {
	width: 14%;
}
.footer-galary__thumb img {
	width: 100%;
}
.footer-copyright{
	margin-bottom: 20px;
}

.btn-top {
	font-family: 'Mrs Sheppards', cursive;
	font-size: 30px;
	color: #000;
	font-weight: 400;
}

.copyright {
	opacity: 0.54;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 40px;
	margin-top: 4px;
}

@media (max-width: 1150px) {
	.sidebar {
		width: 26%;
	}
	.post {
		width: 68%;
	}
	.block-post-left__thumb {
		width: 280px;
		height: 280px;
	}
	.block-post-right {
		margin-left: 228px;
	}
}

@media (max-width: 980px) {
	.main-block {
	    display: inherit;
	    max-width: 700px
	}
	.post, .sidebar {
	    width: 100%;
	}
	.social-sidebar {
		max-width: 200px;
		margin: 21px auto 0;
	}
	.sidebar-block-about p {
		max-width: 400px;
		margin: 0 auto 16px;
	}
	.sidebar-block-tags-list {
		text-align: center;
	}
	.sidebar {
		margin-top: 150px;
	}
	.footer {
		width: 100%;
	}
}
@media (max-width: 830px) {
	.header .container, .post-top, .footer-galary {
		display: inherit;
	}
	.nav {
		justify-content: center;
	}
	.social {
		justify-content: center;
		margin-top: 28px;
	}
	.social-post {
		margin-top: 0;
	}
	.social-sidebar {
	    justify-content: space-between;
	}
	.social-footer {
	    margin: 0 auto;
	}
	.post-top {
		width: 700px;
	}
	.post-top-col{
	    width: 100%;
		height: inherit; 
		padding: 30px 0;
		margin-bottom: 15px;
	}
	.post-top-col>div {
	    position: inherit;
	    bottom: inherit;
	}
	.main-block {
	    margin: 20px auto 0;
	}
	.footer-galary__thumb {
	   width: 31%;
	   display: inline-block;
	}
	.footer-galary__thumb:last-child {
		display: none;
	}
	.footer {
		width: 700px;
	}
	header {
		width: 700px;
	}
}
@media (max-width: 660px) {
	.block-post-left {
	    position: inherit;
	    top: inherit;
	}
	.block-post-left__thumb, .block-post-left__thumb img{
	    width: 100%;
	}
	.block-post-right {
	    margin-left: 0;
	}
	.block-post-right__info {
	    border: 3px solid #b59f5b;
	    padding: 39px 35px 18px 35px;
	    margin-left: 15px;
	    margin-right: 15px;
	    text-align: center;
	    margin-top: -20px;
	}
	.block-post-right__date {
	    justify-content: space-between;
	}
	.sidebar-block-form input {
	    text-align: center;
	}
	.block-post-right__description {
	    padding: 25px 20px 17px 20px;
	}
	.block-post-right__flex {
    padding: 5px 20px 8px 20px;
    justify-content: space-between;
}

}

